@page
@model EnableAuthenticatorModel
@inject IStringLocalizer<SharedResource> Localizer
@inject IHtmlLocalizer<SharedResource> HtmlLocalizer

@{
  ViewData["Title"] = Localizer["Configure authenticator app"];
  ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
  <p>@Localizer["To use an authenticator app go through the following steps:"]</p>
  <ol class="list">
    <li>
      <p>
        @HtmlLocalizer["DownloadAuthenticatorHtml"]
      </p>
    </li>
    <li>
      <p>@Localizer["Scan the QR Code or enter this key"] <kbd>@Model.SharedKey</kbd> @Localizer["into your two factor authenticator app. Spaces and casing do not matter."]</p>
      @(
          Html.Kendo().QRCode()
          .Name("qrCode")
          .Value(Model.AuthenticatorUri)
          .Color("#000000")
          .Background("transparent")
          .Size(200)
          )
    </li>
    <li>
      <p>
        @Localizer["OnceYouHaveScannedQrCode"]
      </p>
      <div class="row">
        <div class="col-md-6">
          <form id="send-code" method="post">
            <div class="form-group">
              <label asp-for="Input.Code" class="control-label">@Localizer["Verification Code"]</label>
              <input asp-for="Input.Code" class="form-control" autocomplete="off" />
              <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Verify"]</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          </form>
        </div>
      </div>
    </li>
  </ol>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />

}
