@page
@model Landstar.Identity.Pages.Account.ConfirmEmailModel
@inject IStringLocalizer<SharedResource> Localizer
@inject IHtmlLocalizer<SharedResource> HtmlLocalizer

@{
  ViewData["Title"] = Localizer["Confirm email"];
  Model.RedirectUri ??= "/";
}

<h1>@ViewData["Title"]</h1>

@Model.StatusMessage



<p>
  <a id="redirectLink" href="@Model.RedirectUri">@Localizer["Click Here to Return to your Application"]</a>
</p>


@section Scripts {
  <script type="text/javascript">
    $(function () {
      var link = $("#redirectLink");
      
      var i = 0;

      var tt = setInterval(function () {
        i = i + 1;
        var counter = 8 - i;
        link.html('Click Here to return to your Application: <i>You will Be redirected After <strong>' + counter + '</strong> Seconds</i>');
        if (counter === 0) {
          clearInterval(tt);
          window.location = '@Model.RedirectUri';
        }
      }, 1000);
    });
  </script>
  }
